---
swagger: '2.0'
info:
  title: Supercharge API
  description: API zur Verwaltung von EV-Ladestationen
  version: 2.0.0
host: api.evcharging.com
basePath: /v2
schemes:
  - https
paths:
  /locations:
    get:
      summary: Verfügbare Standorte abrufen
      parameters:
        - name: latitude
          in: query
          required: false
          type: number
          format: float
          description: Breitengrad für Standortsuche
        - name: longitude
          in: query
          required: false
          type: number
          format: float
          description: Längengrad für Standortsuche
        - name: radius
          in: query
          required: false
          type: number
          format: float
          description: Suchradius in Kilometern
      responses:
        '200':
          description: Erfolgreiche Antwort
          schema:
            type: array
            items:
              $ref: '#/definitions/Location'
        '400':
          description: Fehlerhafte Anfrage

  /connectors:
    get:
      summary: Liste der Anschlüsse nach Standort abrufen
      parameters:
        - name: locationId
          in: query
          required: true
          type: string
          description: ID des Standorts, für den die Anschlüsse abgerufen werden sollen
      responses:
        '200':
          description: Erfolgreiche Antwort
          schema:
            type: array
            items:
              $ref: '#/definitions/Connector'
        '400':
          description: Fehlerhafte Anfrage
        '404':
          description: Standort nicht gefunden

  /connectors/{id}/unlock:
    post:
      summary: Anschluss zum Laden entsperren
      parameters:
        - name: id
          in: path
          required: true
          type: string
          description: ID des zu entsperrenden Anschlusses
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              limitKWh:
                type: number
                format: float
                description: Optionale Begrenzung in Kilowattstunden
              limitMinutes:
                type: integer
                description: Optionale Begrenzung in Minuten
              triggerRef:
                type: string
                description: Referenz zur Nachverfolgung der Entsperrung
      responses:
        '200':
          description: Anschluss erfolgreich entsperrt
        '400':
          description: Fehlerhafte Anfrage
        '404':
          description: Anschluss nicht gefunden
        '409':
          description: Anschluss nicht verfügbar

  /transactions:
    get:
      summary: Ladevorgänge abrufen
      parameters:
        - name: connectorId
          in: query
          required: false
          type: string
          description: Nach Anschluss-ID filtern
        - name: startDate
          in: query
          required: false
          type: string
          format: date-time
          description: Nach Startdatum filtern
        - name: endDate
          in: query
          required: false
          type: string
          format: date-time
          description: Nach Enddatum filtern
      responses:
        '200':
          description: Erfolgreiche Antwort
          schema:
            type: array
            items:
              $ref: '#/definitions/Transaction'
        '400':
          description: Fehlerhafte Anfrage

definitions:
  Location:
    type: object
    properties:
      id:
        type: string
        description: Eindeutige Kennung für den Standort
      name:
        type: string
        description: Name des Standorts
      address:
        type: string
        description: Vollständige Adresse des Standorts
      latitude:
        type: number
        format: float
        description: Breitengrad des Standorts
      longitude:
        type: number
        format: float
        description: Längengrad des Standorts
      openingHours:
        type: string
        description: Öffnungszeiten des Standorts
      amenities:
        type: array
        items:
          type: string
        description: Verfügbare Einrichtungen am Standort
      operatorId:
        type: string
        description: ID des Standortbetreibers
      status:
        type: string
        enum: [OPERATIONAL, LIMITED, CLOSED, MAINTENANCE]
        description: Aktueller Status des Standorts

  Connector:
    type: object
    properties:
      id:
        type: string
        description: Eindeutige Kennung für den Anschluss
      name:
        type: string
        description: Name/Bezeichnung des Anschlusses
      state:
        type: string
        enum: [AVAILABLE, CHARGING, UNAVAILABLE, FAULTED]
        description: Aktueller Status des Anschlusses

  Transaction:
    type: object
    properties:
      id:
        type: string
        description: Eindeutige Kennung für den Ladevorgang
      connectorId:
        type: string
        description: ID des verwendeten Anschlusses
      startTime:
        type: string
        format: date-time
        description: Startzeit des Ladevorgangs
      endTime:
        type: string
        format: date-time
        description: Endzeit des Ladevorgangs
      energyDelivered:
        type: number
        format: float
        description: Gelieferte Energiemenge in kWh
      status:
        type: string
        enum: [IN_PROGRESS, COMPLETED, STOPPED, FAILED]
        description: Status des Ladevorgangs
